In [49]:
import pandas as pd
import pyreadr
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.api as sm
import statsmodels.formula.api as smf
import math

In [50]:
df = pd.read_excel(r'C:\Users\Junio\Desktop\teste_agrupamento.xlsx')

In [51]:
df_group = pd.DataFrame(df.groupby('X')['Y'].mean()).reset_index()
print(df_group)

   X    Y
0  A  9.1
1  B  4.1
2  C  9.1

In [52]:
df_dummy = pd.get_dummies(df['X']).astype(int)
df_dummy

    A  B  C
0   1  0  0
1   1  0  0
2   1  0  0
3   1  0  0
4   1  0  0
5   1  0  0
6   1  0  0
7   1  0  0
8   1  0  0
9   1  0  0
10  0  1  0
11  0  1  0
12  0  1  0
13  0  1  0
14  0  1  0
15  0  1  0
16  0  1  0
17  0  1  0
18  0  1  0
19  0  1  0
20  0  0  1
21  0  0  1
22  0  0  1
23  0  0  1
24  0  0  1
25  0  0  1
26  0  0  1
27  0  0  1
28  0  0  1
29  0  0  1

In [53]:
df_dummy = pd.concat([df,df_dummy], axis=1)
df_dummy

    X   Y  A  B  C
0   A  10  1  0  0
1   A   9  1  0  0
2   A   8  1  0  0
3   A   7  1  0  0
4   A   5  1  0  0
5   A   6  1  0  0
6   A   7  1  0  0
7   A   8  1  0  0
8   A  21  1  0  0
9   A  10  1  0  0
10  B   3  0  1  0
11  B   4  0  1  0
12  B   5  0  1  0
13  B   4  0  1  0
14  B   5  0  1  0
15  B   3  0  1  0
16  B   4  0  1  0
17  B   5  0  1  0
18  B   3  0  1  0
19  B   5  0  1  0
20  C  10  0  0  1
21  C   9  0  0  1
22  C   8  0  0  1
23  C  12  0  0  1
24  C   6  0  0  1
25  C   6  0  0  1
26  C   7  0  0  1
27  C   9  0  0  1
28  C  15  0  0  1
29  C   9  0  0  1

In [54]:
features = df_dummy.columns.drop(['Y'])
formula = 'Y ~ + A + B + C'
reg_mult = smf.ols(formula=formula,data=df_dummy).fit()
print(reg_mult.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      Y   R-squared:                       0.394
Model:                            OLS   Adj. R-squared:                  0.349
Method:                 Least Squares   F-statistic:                     8.765
Date:                Fri, 07 Feb 2025   Prob (F-statistic):            0.00117
Time:                        15:36:38   Log-Likelihood:                -74.769
No. Observations:                  30   AIC:                             155.5
Df Residuals:                      27   BIC:                             159.7
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.5750      0.422     13.204      0.000       4.709       6.441
A              3.5250      0.808      4.360      0.000       1.866       5.184
B             -1.4750      0.808     -1.824      0.079      -3.134       0.184
C              3.5250      0.808      4.360      0.000       1.866       5.184
==============================================================================
Omnibus:                       33.009   Durbin-Watson:                   1.765
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               87.684
Skew:                           2.299   Prob(JB):                     9.11e-20
Kurtosis:                      10.001   Cond. No.                     2.39e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.98e-32. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [55]:
df_dummy['BC'] = df['X'].apply(lambda x: 'BC' if x in ['C','B'] else x)
df_dummy

    X   Y  A  B  C  BC
0   A  10  1  0  0   A
1   A   9  1  0  0   A
2   A   8  1  0  0   A
3   A   7  1  0  0   A
4   A   5  1  0  0   A
5   A   6  1  0  0   A
6   A   7  1  0  0   A
7   A   8  1  0  0   A
8   A  21  1  0  0   A
9   A  10  1  0  0   A
10  B   3  0  1  0  BC
11  B   4  0  1  0  BC
12  B   5  0  1  0  BC
13  B   4  0  1  0  BC
14  B   5  0  1  0  BC
15  B   3  0  1  0  BC
16  B   4  0  1  0  BC
17  B   5  0  1  0  BC
18  B   3  0  1  0  BC
19  B   5  0  1  0  BC
20  C  10  0  0  1  BC
21  C   9  0  0  1  BC
22  C   8  0  0  1  BC
23  C  12  0  0  1  BC
24  C   6  0  0  1  BC
25  C   6  0  0  1  BC
26  C   7  0  0  1  BC
27  C   9  0  0  1  BC
28  C  15  0  0  1  BC
29  C   9  0  0  1  BC

In [57]:
features = df_dummy.columns.drop(['Y'])
formula = 'Y ~ + BC + A'
reg_mult = smf.ols(formula=formula,data=df_dummy).fit()
print(reg_mult.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      Y   R-squared:                       0.098
Model:                            OLS   Adj. R-squared:                  0.066
Method:                 Least Squares   F-statistic:                     3.057
Date:                Fri, 07 Feb 2025   Prob (F-statistic):             0.0914
Time:                        15:37:02   Log-Likelihood:                -80.720
No. Observations:                  30   AIC:                             165.4
Df Residuals:                      28   BIC:                             168.2
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.2333      0.477     10.979      0.000       4.257       6.210
BC[T.BC]       1.3667      0.674      2.027      0.052      -0.014       2.747
A              3.8667      0.826      4.683      0.000       2.176       5.558
==============================================================================
Omnibus:                       17.938   Durbin-Watson:                   1.295
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               21.409
Skew:                           1.609   Prob(JB):                     2.24e-05
Kurtosis:                       5.602   Cond. No.                     1.42e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.35e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.